:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --background-header-footer: #2f303a;
  --background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --main-font: Roboto;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.body {
  font-family: var(--main-font), sans-serif;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  background-color: var(--background-color);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.button {
  cursor: pointer;
}
.logo,
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}
.logo {
  color: #000000;
}
.logo-accent {
  color: var(--accent-color);
}
.hero-title,
.main.button,
.project-card .title {
  letter-spacing: 0.06em;
}
/* Навигация сайта*/
.site-nav,
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--title-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.header-contacts .link {
  color: inherit;
}
.site-nav .link:hover,
.site-nav .link:focus,
.header-contacts .link:hover,
.header-contacts .link:focus,
.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

/* Заголовки */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  text-transform: uppercase;

  color: var(--background-color);
}
.section-title {
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}
.section-title,
.title {
  color: var(--title-color);
}

/* Герой */
.hero,
.footer {
  background-color: var(--background-header-footer);
}
.main.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
}

/* Особенности */
.features.title {
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
}

.text,
.address-text,
.footer-contacts .link {
  font-size: 14px;
  line-height: 1.714;
}

/* Наша команда */
.team {
  background-color: var(--secondary-background-color);
}
.team-card {
  background-color: var(--background-color);
}
.team-card.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
}
.team-card.text {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
}

/* Портфолио */
.filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;

  color: var(--title-color);
  background-color: var(--secondary-background-color);
}
.button.current,
.filter:active,
.filter:hover,
.filter:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}
.project-card.title {
  font-size: 18px;
  line-height: 2;
}
.project-card.text {
  font-size: 16px;
  line-height: 1.875;
}
/* Футер */
.contacts {
  font-style: normal;
}
.footer-logo,
.address-text {
  color: var(--background-color);
}
.contacts .link {
  color: rgba(255, 255, 255, 0.6);
}
